<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349106499456-578i4iciq1g5ng5mvbfh9sg95mb5nf8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349106499456-578i4iciq1g5ng5mvbfh9sg95mb5nf8s</string>
	<key>API_KEY</key>
	<string>AIzaSyC06zQDxBjPpT0IUKX8hIB4HSbk2Qlu-gs</string>
	<key>GCM_SENDER_ID</key>
	<string>349106499456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webartvision.citycloudschool.citycloudSchool</string>
	<key>PROJECT_ID</key>
	<string>fun-school-8808d</string>
	<key>STORAGE_BUCKET</key>
	<string>fun-school-8808d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349106499456:ios:34bf920e231902b6559b65</string>
</dict>
</plist>